$primary-color: #1A1A1A;
$secondary-color: #3c7ee3;
$highlight-color: #1c71f1;
$background-color: #2B2B2B;
$text-color: #E0E0E0;
$text-secondary-color: #8C8C8C;
$white-color: #FFFFFF;
$hover-button: #093e8d;
$primary-light: lighten($primary-color, 20%);
